.NavigationLink {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationLink a {
    transition: 0.3s;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    display: block;
    font-size: 35px;
    font-family: 'Fredoka One', sans-serif;
}

.NavigationLink a:hover,
.NavigationLink a:active,
.NavigationLink a.active {
    text-shadow: 0 0 20px white;
}

@media (min-width: 1200px) {
    .NavigationLink {
        margin: 0;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .NavigationLink a {
        height: 100%;
        padding: 12px 10px;
    }

    .MobileOnly {
        display: none;
    }
}