.Toolbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    background: #4ca6ff;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Info {
    display: flex;
    justify-content: flex-start;
}

.DesktopOnly {
    display: none;
}

@media (min-width: 1200px) {
    .DesktopOnly {
        display: block;
    };
};