.DiaryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    overflow: auto;
}

.Wrapper {
    align-items: center;
    max-height: 85vh;
    width: calc(90vw - 20px);
    overflow: hidden;
}

.Warning {
    margin: 0 40px;
    margin-top: 150px;
    text-align: center;
    color: white;
    font-family: 'Balsamiq Sans', sans-serif;
}

.Warning a {
    text-decoration: none;
    color: white;
    font-family: 'Fredoka One', sans-serif;
}

.Diary {
    display: flex;
    justify-content: center;
}