.Shell {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    padding: 16px;
    left: 15%;
    top: 30%;
    border-radius: 40px;
    text-align: center;
    color: #4ca6ff;
    font-family: 'Balsamiq Sans', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s;
}

@media (min-width: 1200px) {
    .Shell {
        left: calc(50% - 250px);
        width: 500px;
    }
}