.ContentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.AuthContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.Warning {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.Warning h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 10vw;
    margin: 0;
}

.Panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.Panel form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.Inputs {
    text-align: center;
    margin-bottom: 30px;
}

.Panel form input {
    transition: 0.3s;
    width: 100%;
    margin: 20px 0;
    padding: 20px 15px;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 30px;
    color: #1782ec;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    border: none;
}

.Panel form input:hover,
.Panel form input:focus {
    background: white;
}

@media (min-width: 1200px) {
    .AuthContent {
        flex-direction: row;
        margin: 0 40px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .Warning h1 {
        font-size: 70px;
        font-family: 'Fredoka One', sans-serif;
        margin: 0;
    }

    .Panel form input {
        width: 60%;
        transition: 0.3s;
        margin: 20px 0;
        padding: 20px 15px;
        box-sizing: border-box;
        font-family: 'Balsamiq Sans', sans-serif;
        font-size: 30px;
        color: #1782ec;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 40px;
        border: none;
    }
}