body {
    background: #4ca6ff;
    height: calc(100vh - 120px);
    background-size: cover;
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    body {
        background: url('./assets/Images/Background.png') no-repeat center;
        background-size: cover;
    }
}